## dictinary is mutable in nature
- it always come on key and values
- the key and values are are sepreted by colon(:)
- all the items are present in dictinory it sepreated by comma(,)
- it is represented by {} breacket

In [1]:
# taking a Empty dict
d = {}
type(d)

dict

In [3]:
d = {"name": "sai","roll no": 105455,
     " age": 31, "address": "Atp",
     "university": "Jntua"}

d

{' age': 31,
 'address': 'Atp',
 'name': 'sai',
 'roll no': 105455,
 'university': 'Jntua'}

In [4]:
len(d)

5

In [0]:
d["age"]=99

In [9]:
d

{' age': 31,
 'address': 'Atp',
 'age': 99,
 'name': 'sai',
 'roll no': 105455,
 'university': 'Jntua'}

In [30]:
print(d.items())
print(len(d))
d['roll no']

dict_items([('name', 'sai'), ('roll no', 105455), (' age', 31), ('address', 'Atp'), ('university', 'Jntua'), ('branch', 'ECE')])
6

105455

In [13]:
d.keys()

dict_keys(['name', 'roll no', ' age', 'address', 'university', 'age'])

In [14]:
d.values()

dict_values(['sai', 105455, 31, 'Atp', 'Jntua', 99])

In [0]:
d1 = d.copy()

In [16]:
d1

{' age': 31,
 'address': 'Atp',
 'age': 99,
 'name': 'sai',
 'roll no': 105455,
 'university': 'Jntua'}

In [0]:
d.update({"branch": "ECE"})

In [18]:
d

{' age': 31,
 'address': 'Atp',
 'age': 99,
 'branch': 'ECE',
 'name': 'sai',
 'roll no': 105455,
 'university': 'Jntua'}

In [25]:
d.pop("age")

KeyError: ignored

In [20]:
d

{' age': 31,
 'address': 'Atp',
 'branch': 'ECE',
 'name': 'sai',
 'roll no': 105455,
 'university': 'Jntua'}

In [0]:
 d1.clear()

In [22]:
d1

{}

In [0]:
del d1

In [24]:
d1

NameError: ignored

In [0]:
Project Name(Application name- Contact APP)
Add a contact detail
Search the contact details
Modify the contact detail
To delete the contact detail

In [0]:
contact= {} # Empty dict object is taken
#Lets create a function to add a contact details
def addContact(name,phone):
    return
addContact('sumathi','4584557824')

In [28]:
contacts = {} # Empty Dict Object
# Let's Create a function to Add Contact Details
def addContact(name,phone):
    if name not in contacts:#Cond to Check name is exists or not
        contacts[name] = phone
        print('Contact Details are added successfully')
    else:
        print('Name is already exists') 
    return
addContact('sai','9966554411')
addContact('sumathi','123456789')
addContact('teja','9966552244')
addContact('sai','9966554411')

Contact Details are added successfully
Contact Details are added successfully
Contact Details are added successfully
Name is already exists

In [34]:
def searchContact(name):
    if name in contacts:
        print(name, " :  ",contacts[name])
    else:
        print(name,'does not present' )
    return
searchContact('sai')
searchContact('sumathi')
searchContact('sagar')

sai  :   9966554411
sumathi  :   123456789
sagar does not present

In [0]:
def searchContact(name):
    return
searchContact("sumathi")

In [0]:
def modify(name, phone):
searchContact("sumathi" : 9999999999)

In [35]:
def modifyContact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,'Updated Successfully')
    else:
        print(name,'Not exists')
    return
modifyContact('anju',9876543210)
modifyContact('sumathi',6541236540)

anju Not exists
sumathi Updated Successfully

In [37]:
def DeleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,'deleted contact Successfully')
    else:
        print(name,'Not exists')
    return
DeleteContact("sumathi")
DeleteContact("niraj")

sumathi Not exists
niraj Not exists